<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
      <a href="" class="navbar-brand">
         <!--Desktop logo-->
         <img src="/assets/images/logo.jpg" width="180px" class="desk_logo ms-3">
         <!--Mobile logo-->
         <img src="/assets/images/logo.jpg" class="mob_logo">
      </a>
      <button class="navbar-toggler bg-info" data-bs-toggle="collapse" data-bs-target="#pn">
        <span class="navbar-toggler-icon"></span>
      </button>
       
      <div class="collapse navbar-collapse" id="pn">
          <ul class="navbar-nav ms-auto">
               <li><a href="" class="nav-link"><i class="fa-solid fa-house"></i></a></li>
               <li><a href="" class="nav-link">JAIN TEMPLES</a></li>
              <li><a href="" class="nav-link smooth_scroll">JAIN LIBRARY</a></li>
              <li><a href="" class="nav-link">JAN MONKS</a></li>
              <li><a href="" class="nav-link">JAIN DHARAMSHALA</a></li>
              <li><a href="" class="nav-link">MEDIA</a></li>
              <li><a href="" class="nav-link">EVENTS</a></li>
              <li><a href="" class="nav-link">ABOUT US</a></li>
              <li><a href="" class="nav-link">OTHER</a></li>
          </ul>
      </div>
    </div><!--container-fluid end -->
  </nav> <!-- Navbar -->