<app-header></app-header>

<section class="about_us">
    <div class="about-us_bannner">
        <h1 class="_aboutTitle">CAREERS</h1>
    </div>
</section>

<div class="container-fluid mt-5 pb-3">
    <div class="container">
        <h2 class="mt-5 text-center mb-3 title">Welcome to SYANSOFT!</h2>
        <h4 class="text-center subtitle">JOIN WITH US</h4>
        <br>
        <div class="row my-5">
            <div class="col-md-5 text-center ">
                <img src="/assets/images/banner2.jpg" class="pt-sm-5 pt-md-0 shadow-lg img" alt="image" height="300px">
            </div>
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000"
                data-aos-easing="ease-in-out" data-aos-once="true">
                <p class="p1">Welcome to our employment section. Here you can view our current job
                    openings and apply for positions online. Or, if you prefer, you can
                    simply

                    <a href="#">
                        Submit your resume
                    </a> for general consideration.
                </p>
                <h2 class="mt-2 subtitle">
                    Job Listings
                </h2>
                <p class="my-3 p1">
                    Here are our current job openings. Please click on the job title for more information, and apply from that page
                    if you are interested.
                    <br>
                    Use this form to perform another job search
                </p>
            </div>
        </div><!-- row end -->

    </div><!-- container end -->
</div><!-- container-fluid end -->
<hr style="color: rgb(199, 203, 207);">


<app-accordion></app-accordion>
<br>
<app-choose-us></app-choose-us>
<app-get-in-touch></app-get-in-touch>
<app-footer></app-footer>