<app-header></app-header>
<section class="about_us">
    <div class="about-us_bannner">
        <h1 class="_aboutTitle">Blogs</h1>
    </div>
</section>
<!-- Learning Center -->
<section class="learning-center">
    <div class="container mt-5">
        <div class="row" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in" data-aos-once="true">
            <div class="col-md-4 col-sm-6 learning_cards " >
                <div class="card" routerLink="/">
                    <img class="card-img-top img-fluid w-100" src="/assets/images/blog3.jpg" alt="Card image cap"  >
                    <div class="card-body">
                        <h6>Digital Core Capabilities</h6>
                        <p style="color: rgb(199, 191, 191);">October 7, 2022  No Comments</p>
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        Read more
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 learning_cards" >
                <div class="card" routerLink="/">
                    <img class="card-img-top img-fluid w-100" src="/assets/images/blog2.jpg" alt="Card image cap"  >
                    <div class="card-body">
                        <h6>Get in Touch for any Query</h6>
                        <p style="color: rgb(199, 191, 191);">October 7, 2022  1 Comment</p>
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        Read More
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 learning_cards" >
                <div class="card" routerLink="/">
                    <img class="card-img-top img-fluid w-100" src="/assets/images/blog1.jpg" alt="Card image cap"  >
                    <div class="card-body">
                        <h6>Digital Core Capabilities</h6>
                        <p style="color: rgb(199, 191, 191);">October 7, 2022  No Comments</p>
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        Read More
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 learning_cards" data-aos="slide-right" data-aos-delay="50" data-aos-duration="1000"
            data-aos-easing="ease-in" data-aos-once="true">
                <div class="card">
                    <img class="card-img-top img-fluid w-100" src="/assets/images/Rectangle-149cms-2.png" alt="Card image cap"  >
                    <div class="card-body">
                        <h6>Digital Core Capabilities</h6>
                        <p style="color: rgb(199, 191, 191);">October 7, 2022  No Comments</p>
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        Read More
                    </span>
                </div>
            </div>

        </div>
    </div>
</section>
<app-get-in-touch></app-get-in-touch>
<app-footer></app-footer>
