<div class="wrapper">
    <div class="columns bg-white">
       <div class="container-fluid">
           <div class="row flipcards bg-white m-0 p-0">
               <div class="col-md-3 m-0 p-0 col-sm-6 ">
                   <div class="colg text-center m-0 p-0">
                     <div class="cont-card">				
                       <div class="front">					
                           <div class="inner">
                           <span><img src="/assets/images/notebook.png" class="img-fluid" width="100px" alt=""></span>
                           <p class="pt-4 text-center cards_sub_headings">TECHNICAL RECRUITING</p>              
                       </div>
                   </div>
                   <div class="back">
                       <div class="inner">                   
                             <span><img src="/assets/images/notebook.png" class="img-fluid" width="100px" alt=""></span>
                             <p class="text-white pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             
                             <span class="text-center arrow">
                               <i  aria-hidden="true" class="fas fa-arrow-right"></i>
                               </span>
                           </div>
                       </div>
                     </div>
                   </div>
               </div>
               <div class="col-md-3 m-0 p-0 col-sm-6">
                   <div class="colg text-center">
                     <div class=" cont-card ">				
                       <div class="front bg-white">					
                           <div class="inner">
                           <span><img src="/assets/images/project-management.png" class="img-fluid" width="100px" alt=""></span>
                           <p class="pt-4 text-center cards_sub_headings">PROJECT MANAGEMENT</p>              
                       </div>
                   </div>
                   <div class="back">
                       <div class="inner">                   
                             <span><img src="/assets/images/project-management.png" class="img-fluid" width="100px" alt=""></span>
                             <p class="text-white pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             <span class="text-center arrow">
                               <i  aria-hidden="true" class="fas fa-arrow-right"></i>
                               </span>
                           </div>
                       </div>
                     </div>
                   </div>  
               </div>
               <div class="col-md-3 m-0 p-0 col-sm-6">
                   <div class="colg text-center">
                     <div class=" cont-card">				
                       <div class="front">					
                           <div class="inner">
                           <span><img src="/assets/images/illustration.png" class="img-fluid" width="100px" alt=""></span>
                           <p class="pt-4 text-center cards_sub_headings">SOFTWARE DESIGN</p>              
                       </div>
                   </div>
                   <div class="back">
                       <div class="inner">                   
                             <span><img src="/assets/images/illustration.png" class="img-fluid" width="100px" alt=""></span>
                             <p class="text-white pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             <span class="text-center arrow">
                               <i  aria-hidden="true" class="fas fa-arrow-right"></i>
                               </span>
                           </div>
                       </div>
                     </div>
                   </div>  
               </div>
               <div class="col-md-3 m-0 p-0 col-sm-6">
                   <div class="colg text-center">
                     <div class=" cont-card">				
                       <div class="front bg-white">					
                           <div class="inner">
                           <span><img src="/assets/images/machine-learning.png" class="img-fluid" width="100px" alt=""></span>
                           <p class="pt-4 text-center cards_sub_headings">AI & MACHINE LEARNING</p>              
                       </div>
                   </div>
                   <div class="back">
                       <div class="inner">                   
                             <span><img src="/assets/images/machine-learning.png" class="img-fluid" width="100px" alt=""></span>
                             <p class="text-white pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             <span class="text-center arrow">
                               <i  aria-hidden="true" class="fas fa-arrow-right"></i>
                               </span>
                           </div>
                       </div>
                     </div>
                   </div> 
               </div>
               <div class="col-md-3 m-0 p-0 col-sm-6">
                   <div class="colg text-center">
                     <div class=" cont-card">				
                       <div class="front bg-white">					
                           <div class="inner">
                           <span><img src="/assets/images/technical-support.png" class="img-fluid" width="100px" alt=""></span>
                           <p class="pt-4 text-center cards_sub_headings">IT TAX SOLUTIONING</p>              
                       </div>
                   </div>
                   <div class="back">
                       <div class="inner">                   
                             <span><img src="/assets/images/technical-support.png" class="img-fluid" width="100px" alt=""></span>
                             <p class="text-white pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             <span class="text-center arrow">
                               <i  aria-hidden="true" class="fas fa-arrow-right"></i>
                               </span>
                           </div>
                       </div>
                     </div>
                   </div> 
               </div>
               <div class="col-md-3 m-0 p-0 col-sm-6">
                   <div class="colg text-center">
                     <div class=" cont-card">				
                       <div class="front">					
                           <div class="inner">
                           <span><img src="/assets/images/app-development.png" class="img-fluid" width="100px" alt=""></span>
                           <p class="pt-4 text-center cards_sub_headings">MOBILE APP DEVELOPMENT</p>              
                       </div>
                   </div>
                   <div class="back">
                       <div class="inner">                   
                             <span><img src="/assets/images/app-development.png" class="img-fluid" width="100px" alt=""></span>
                             <p class="text-white pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             <span class="text-center arrow">
                               <i  aria-hidden="true" class="fas fa-arrow-right"></i>
                               </span>
                           </div>
                       </div>
                     </div>
                   </div> 
               </div>
               <div class="col-md-3 m-0 p-0 col-sm-6">
                   <div class="colg text-center">
                     <div class=" cont-card">				
                       <div class="front bg-white">					
                           <div class="inner">
                           <span><img src="/assets/images/enterprise-development.png" class="img-fluid" width="100px" alt=""></span>
                           <p class="pt-4 text-center cards_sub_headings">ENTERPRISE APP DEVELOPMENT</p>              
                       </div>
                   </div>
                   <div class="back">
                       <div class="inner">                   
                             <span><img src="/assets/images/enterprise-development.png" class="img-fluid" width="100px" alt=""></span>
                             <p class="text-white pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             <span class="text-center arrow">
                               <i  aria-hidden="true" class="fas fa-arrow-right"></i>
                               </span>
                           </div>
                       </div>
                     </div>
                   </div> 
               </div>
               <div class="col-md-3 m-0 p-0 col-sm-6">
                   <div class="colg text-center">
                     <div class=" cont-card">				
                       <div class="front">					
                           <div class="inner">
                           <span><img src="/assets/images/techn-support.png" class="img-fluid" width="100px" alt=""></span>
                           <p class="pt-4 text-center cards_sub_headings">SUPPORT AND TECH MAINTENANCE</p>              
                       </div>
                   </div>
                   <div class="back">
                       <div class="inner">                   
                             <span><img src="/assets/images/techn-support.png" class="img-fluid" width="100px" alt=""></span>
                             <p class="text-white pt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                             <span class="text-center arrow">
                               <i  aria-hidden="true" class="fas fa-arrow-right"></i>
                               </span>
                           </div>
                       </div>
                     </div>
                   </div> 
               </div>
           </div><!--row-->
       </div><!--container-fluid-->

     </div>
</div>