<div class="container mt-2" >
    <div class="accordian box1 my-4">
        <div class="accordion-heading" id="f1" (click) = "accordion('f1')">
            
                <span class="toggle-icon">
                    <i class="fa fa-plus"></i>
                </span>

            Technical Project Lead <span class="country">(India)</span>
        </div>
        <div class="accordion-content  bg-white text-black" *ngIf="id ==='f1' ">
            <div class="content-box">
                <span class="py-5" style="color: #46a85a; font-size: 20px;">ID 2022-3212</span>
                <h4 class="my-2 headings">Overview</h4>
                <p class="content my-3">
                    Do you thrive in a fast paced environment and embrace change? Do you have a passion for customer
                    service and building robust relationships with your clients?
                    Do you enjoy strategic planning and developing innovative solutions to successfully guide software
                    development projects across the finish line? As a Project
                    Lead on our implementation team, you will have the opportunity to manage cutting edge software
                    development projects and lead multiple project teams to victory!
                </p>
                <h4 class="mt-2 mb-3 headings">Responsibilities</h4>
                <p class="my-2 content">If you have utilized 30% of the software development project budget, has 30% of
                    the software development been completed? This is a
                    question that you will analyze and solve on a daily basis.</p>
                <br>
                <p class="my-1 content">
                    A day in the life of a Project Lead at SOLTECH includes guiding teams of software engineers through
                    complex, custom software builds and ensuring that development
                    aligns with client needs. You will be responsible for ensuring that the project stays in line with
                    budget and that resources are used at full capacity at all times
                    while not going over budget. You will provide regular demos of progress to external clients and
                    deliver reports to go over completed tasks and status of budget.
                </p>
                <br>
                <p class="my-2 content">
                    You will demonstrate exceptional professionalism and critical thinking skills at all times. You will
                    be a proactive problem solver and look at problems ahead of you,
                    vs. identifying the problem in the rear-view. You will be nimble and unafraid of change; always
                    thinking on your toes!
                </p>
                <p class="mt-4 content">
                    Developing relationships with clients and earning their trust is the key to success. You will
                    exhibit superb customer service skills and maintain an account management
                    mindset; always looking for areas to earn new business and enhance the relationship that we have
                    with our client.
                </p>
                <br>
                <h4 class="mb-3 headings">Qualifications</h4>
                <p class="my-2 content">Why would we be interested in you? Because you have:</p>
                <ul>
                    <li>Extensive experience in an external customer facing role with a high volume of communication
                    </li>
                    <li>Passion for providing exceptional customer service</li>
                    <li>Proven ability to communicate complex technical problems and solutions to a non technical
                        audience</li>
                    <li>Experience managing software development projects from start to finish, while monitoring
                        financial budget and scope</li>
                    <li>Robust experience managing multiple tasks at once and seeing them through to completion</li>
                    <li>Intuitive abilities to generate long term and short term strategic plans for monitoring scope
                        creep and delivering within a pre-set estimate</li>
                    <li>Experience working within project management systems including SmartSheet, Microsoft Project,
                        and JIRA</li>
                    <li>Knowledge of the full cycle of software development from start to finish</li>
                    <li>Experience in a consulting environment (bonus points!)</li>
                </ul>
                <hr style="color:rgb(192, 185, 185);">
                <div class="refer-box">
                    <div class="left-box">
                        <a href="#">Refer this job to friend</a>
                    </div>
                    <div class="right-box">
                        <button class="apply btn">
                            Apply Now
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="accordian box2 my-4">
        <div class="accordion-heading bg-white" id="f2" (click)="accordion('f2')">
            <span class="toggle-icon">
                <i class="fa fa-plus"></i>
            </span>
            Epicor .NET Engineer <span class="country">(India)</span>
        </div>
        <div class="accordion-content" *ngIf="id ==='f2' ">
            <div class="content-box">
                <span class="py-5" style="color: #46a85a; font-size: 20px;">ID 2022-3212</span>
                <h4 class="my-2 headings">Overview</h4>
                <p class="content my-3">
                    Do you thrive in a fast paced environment and embrace change? Do you have a passion for customer
                    service and building robust relationships with your clients?
                    Do you enjoy strategic planning and developing innovative solutions to successfully guide software
                    development projects across the finish line? As a Project
                    Lead on our implementation team, you will have the opportunity to manage cutting edge software
                    development projects and lead multiple project teams to victory!
                </p>
                <h4 class="mt-2 mb-3 headings">Responsibilities</h4>
                <p class="my-2 content">If you have utilized 30% of the software development project budget, has 30% of
                    the software development been completed? This is a
                    question that you will analyze and solve on a daily basis.</p>
                <br>
                <p class="my-1 content">
                    A day in the life of a Project Lead at SOLTECH includes guiding teams of software engineers through
                    complex, custom software builds and ensuring that development
                    aligns with client needs. You will be responsible for ensuring that the project stays in line with
                    budget and that resources are used at full capacity at all times
                    while not going over budget. You will provide regular demos of progress to external clients and
                    deliver reports to go over completed tasks and status of budget.
                </p>
                <br>
                <p class="my-2 content">
                    You will demonstrate exceptional professionalism and critical thinking skills at all times. You will
                    be a proactive problem solver and look at problems ahead of you,
                    vs. identifying the problem in the rear-view. You will be nimble and unafraid of change; always
                    thinking on your toes!
                </p>
                <p class="mt-4 content">
                    Developing relationships with clients and earning their trust is the key to success. You will
                    exhibit superb customer service skills and maintain an account management
                    mindset; always looking for areas to earn new business and enhance the relationship that we have
                    with our client.
                </p>
                <br>
                <h4 class="mb-3 headings">Qualifications</h4>
                <p class="my-2 content">Why would we be interested in you? Because you have:</p>
                <ul>
                    <li>Extensive experience in an external customer facing role with a high volume of communication
                    </li>
                    <li>Passion for providing exceptional customer service</li>
                    <li>Proven ability to communicate complex technical problems and solutions to a non technical
                        audience</li>
                    <li>Experience managing software development projects from start to finish, while monitoring
                        financial budget and scope</li>
                    <li>Robust experience managing multiple tasks at once and seeing them through to completion</li>
                    <li>Intuitive abilities to generate long term and short term strategic plans for monitoring scope
                        creep and delivering within a pre-set estimate</li>
                    <li>Experience working within project management systems including SmartSheet, Microsoft Project,
                        and JIRA</li>
                    <li>Knowledge of the full cycle of software development from start to finish</li>
                    <li>Experience in a consulting environment (bonus points!)</li>
                </ul>
                <hr style="color:rgb(192, 185, 185);">
                <div class="refer-box">
                    <div class="left-box">
                        <a href="#">Refer this job to friend</a>
                    </div>
                    <div class="right-box">
                        <button class="apply btn">
                            Apply Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordian box3 my-4">
        <div class="accordion-heading bg-white" id="f3" (click)="accordion('f3')">
            <span class="toggle-icon">
                <i class="fa fa-plus"></i>
            </span>
            Node.js Engineer <span class="country">(India)</span>
        </div>
        <div class="accordion-content" *ngIf="id ==='f3' ">
            <div class="content-box">
                <span class="py-5" style="color: #46a85a; font-size: 20px;">ID 2022-3212</span>
                <h4 class="my-2 headings">Overview</h4>
                <p class="content my-3">
                    Do you thrive in a fast paced environment and embrace change? Do you have a passion for customer
                    service and building robust relationships with your clients?
                    Do you enjoy strategic planning and developing innovative solutions to successfully guide software
                    development projects across the finish line? As a Project
                    Lead on our implementation team, you will have the opportunity to manage cutting edge software
                    development projects and lead multiple project teams to victory!
                </p>
                <h4 class="mt-2 mb-3 headings">Responsibilities</h4>
                <p class="my-2 content">If you have utilized 30% of the software development project budget, has 30% of
                    the software development been completed? This is a
                    question that you will analyze and solve on a daily basis.</p>
                <br>
                <p class="my-1 content">
                    A day in the life of a Project Lead at SOLTECH includes guiding teams of software engineers through
                    complex, custom software builds and ensuring that development
                    aligns with client needs. You will be responsible for ensuring that the project stays in line with
                    budget and that resources are used at full capacity at all times
                    while not going over budget. You will provide regular demos of progress to external clients and
                    deliver reports to go over completed tasks and status of budget.
                </p>
                <br>
                <p class="my-2 content">
                    You will demonstrate exceptional professionalism and critical thinking skills at all times. You will
                    be a proactive problem solver and look at problems ahead of you,
                    vs. identifying the problem in the rear-view. You will be nimble and unafraid of change; always
                    thinking on your toes!
                </p>
                <p class="mt-4 content">
                    Developing relationships with clients and earning their trust is the key to success. You will
                    exhibit superb customer service skills and maintain an account management
                    mindset; always looking for areas to earn new business and enhance the relationship that we have
                    with our client.
                </p>
                <br>
                <h4 class="mb-3 headings">Qualifications</h4>
                <p class="my-2 content">Why would we be interested in you? Because you have:</p>
                <ul>
                    <li>Extensive experience in an external customer facing role with a high volume of communication
                    </li>
                    <li>Passion for providing exceptional customer service</li>
                    <li>Proven ability to communicate complex technical problems and solutions to a non technical
                        audience</li>
                    <li>Experience managing software development projects from start to finish, while monitoring
                        financial budget and scope</li>
                    <li>Robust experience managing multiple tasks at once and seeing them through to completion</li>
                    <li>Intuitive abilities to generate long term and short term strategic plans for monitoring scope
                        creep and delivering within a pre-set estimate</li>
                    <li>Experience working within project management systems including SmartSheet, Microsoft Project,
                        and JIRA</li>
                    <li>Knowledge of the full cycle of software development from start to finish</li>
                    <li>Experience in a consulting environment (bonus points!)</li>
                </ul>
                <hr style="color:rgb(192, 185, 185);">
                <div class="refer-box">
                    <div class="left-box">
                        <a href="#">Refer this job to friend</a>
                    </div>
                    <div class="right-box">
                        <button class="apply btn">
                            Apply Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordian box4 my-4">
        <div class="accordion-heading bg-white" id="f4" (click)="accordion('f4')">
            <span class="toggle-icon">
                <i class="fa fa-plus"></i>
            </span>
            Node.js Engineer <span class="country">(India)</span>
        </div>
        <div class="accordion-content" *ngIf="id ==='f4' ">
            <div class="content-box">
                <span class="py-5" style="color: #46a85a; font-size: 20px;">ID 2022-3212</span>
                <h4 class="my-2 headings">Overview</h4>
                <p class="content my-3">
                    Do you thrive in a fast paced environment and embrace change? Do you have a passion for customer
                    service and building robust relationships with your clients?
                    Do you enjoy strategic planning and developing innovative solutions to successfully guide software
                    development projects across the finish line? As a Project
                    Lead on our implementation team, you will have the opportunity to manage cutting edge software
                    development projects and lead multiple project teams to victory!
                </p>
                <h4 class="mt-2 mb-3 headings">Responsibilities</h4>
                <p class="my-2 content">If you have utilized 30% of the software development project budget, has 30% of
                    the software development been completed? This is a
                    question that you will analyze and solve on a daily basis.</p>
                <br>
                <p class="my-1 content">
                    A day in the life of a Project Lead at SOLTECH includes guiding teams of software engineers through
                    complex, custom software builds and ensuring that development
                    aligns with client needs. You will be responsible for ensuring that the project stays in line with
                    budget and that resources are used at full capacity at all times
                    while not going over budget. You will provide regular demos of progress to external clients and
                    deliver reports to go over completed tasks and status of budget.
                </p>
                <br>
                <p class="my-2 content">
                    You will demonstrate exceptional professionalism and critical thinking skills at all times. You will
                    be a proactive problem solver and look at problems ahead of you,
                    vs. identifying the problem in the rear-view. You will be nimble and unafraid of change; always
                    thinking on your toes!
                </p>
                <p class="mt-4 content">
                    Developing relationships with clients and earning their trust is the key to success. You will
                    exhibit superb customer service skills and maintain an account management
                    mindset; always looking for areas to earn new business and enhance the relationship that we have
                    with our client.
                </p>
                <br>
                <h4 class="mb-3 headings">Qualifications</h4>
                <p class="my-2 content">Why would we be interested in you? Because you have:</p>
                <ul>
                    <li>Extensive experience in an external customer facing role with a high volume of communication
                    </li>
                    <li>Passion for providing exceptional customer service</li>
                    <li>Proven ability to communicate complex technical problems and solutions to a non technical
                        audience</li>
                    <li>Experience managing software development projects from start to finish, while monitoring
                        financial budget and scope</li>
                    <li>Robust experience managing multiple tasks at once and seeing them through to completion</li>
                    <li>Intuitive abilities to generate long term and short term strategic plans for monitoring scope
                        creep and delivering within a pre-set estimate</li>
                    <li>Experience working within project management systems including SmartSheet, Microsoft Project,
                        and JIRA</li>
                    <li>Knowledge of the full cycle of software development from start to finish</li>
                    <li>Experience in a consulting environment (bonus points!)</li>
                </ul>
                <hr style="color:rgb(192, 185, 185);">
                <div class="refer-box">
                    <div class="left-box">
                        <a href="#">Refer this job to friend</a>
                    </div>
                    <div class="right-box">
                        <button class="apply btn">
                            Apply Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>