<app-header></app-header>
<section class="about_us">
    <div class="about-us_bannner">
        <h1 class="_aboutTitle">IT STAFFING</h1>
    </div>
</section>
<br><br><br>
<section class="product">
    <div class="container">
        <div class="slider-wrap">
            <div class="slider-main" id="slider-main">
                <div class="item">
                    <div class="text">
                        <div class="card text-center">
                            <div class="card-body">
                                <h4>Direct Hire</h4>
                                <p class="my-5">
                                    In a rapidly changing and evolving world, the challenges we face are indeed unique
                                    and complex.
                                </p>
                                <button class="learnbtn">learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <div class="card text-center">
                            <div class="card-body">
                                <h4>Contract to Hire</h4>
                                <p class="my-5">
                                    In a rapidly changing and evolving world, the challenges we face are indeed unique
                                    and complex.
                                </p>
                                <button class="learnbtn">learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <div class="card text-center">
                            <div class="card-body">
                                <h4>Contract Labor</h4>
                                <p class="my-5">
                                    In a rapidly changing and evolving world, the challenges we face are indeed unique
                                    and complex.
                                </p>
                                <button class="learnbtn">learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <div class="card text-center">
                            <div class="card-body">
                                <h4>Direct Hire</h4>
                                <p class="my-5">
                                    In a rapidly changing and evolving world, the challenges we face are indeed unique
                                    and complex.
                                </p>
                                <button class="learnbtn">learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <div class="card text-center">
                            <div class="card-body">
                                <h4>Contract to Hire</h4>
                                <p class="my-5">
                                    In a rapidly changing and evolving world, the challenges we face are indeed unique
                                    and complex.
                                </p>
                                <button class="learnbtn">learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <div class="card text-center">
                            <div class="card-body">
                                <h4>Contract Labor</h4>
                                <p class="my-5">
                                    In a rapidly changing and evolving world, the challenges we face are indeed unique
                                    and complex.
                                </p>
                                <button class="learnbtn">learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="slider-btn me-2" appPrev><i
                        class="fa-sharp fa-solid fa-arrow-left"></i></button>
                <button type="button" class="slider-btn" appNext><i
                        class="fa-sharp fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</section>
<br><br>
<app-choose-us></app-choose-us>
<app-get-in-touch></app-get-in-touch>
<app-footer></app-footer>