<section class="testimonial py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-box text-center">
                    <h1 class="text-red">Testimonial
                        <div class="img123"></div>
                    </h1>
                </div>
            </div>
        </div><!--  Row End -->
        <div id="carouselExampleNew" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleNew" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleNew" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleNew" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner py-5 text-center">
                <div class="carousel-item active">
                    <div class="col-md-6 offset-md-3 mt-4">
                        <div class="testimonial-image">
                            <img src="/assets/images/t1.jpg"
                                class="img-fluid rounded-circle border border-4 border-danger">
                        </div>
                        <blockquote class="blockquote">
                            <p class="text-black">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mt-2">Jonh Son</figcaption>
                    </div>
                </div>
                <div class="carousel-item">
                    <figure class="col-md-6 offset-md-3 mt-4">
                        <div class="testimonial-image">
                            <img src="/assets/images/t2.jpg"
                                class="img-fluid rounded-circle border border-4 border-danger">
                        </div>
                        <blockquote class="blockquote">
                            <p class="text-black">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mt-2">Jonh Son</figcaption>
                    </figure>
                </div>
                <div class="carousel-item">
                    <figure class="col-md-6 offset-md-3 mt-4">
                        <div class="testimonial-image">
                            <img src="/assets/images/t3.jpg"
                                class="img-fluid rounded-circle border border-4 border-danger">
                        </div>
                        <blockquote class="blockquote">
                            <p class="text-black">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mt-2">Jonh Son</figcaption>
                    </figure>
                </div>
            </div>
        </div>

    </div><!-- Container End -->
</section>