<div class="secti section-padding pattern-squares dark-bg-2">
    <div class="container">

      <div class="section-title text-start">
        <p class="subtitle"> <i class="fa-solid fa-om"></i>  service</p>
        <h4 class="title text-white">How We Can Help</h4>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-5">
          <a href="services.html" class="sigma_service style-1 primary-bg">
            <div class="sigma_service-thumb">
                <i class="text-white fa-solid fa-gopuram"></i>
            </div>
            <div class="sigma_service-body">
              <h5 class="text-white">About Temple</h5>
              <p class="text-white">Temple is place where hindu worship  consectetur adipisicing elit, sed do </p>
            </div>
            <span class="btn-link text-white">Learn More <i class=" text-white  fa-solid fa-arrow-right"></i> </span>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 mt-negative-sm mb-5">
          <a href="services.html" class="sigma_service style-1 secondary-bg">
            <div class="sigma_service-thumb">
                <i class="fa-sharp fa-solid fa-om"></i>
            </div>
            <div class="sigma_service-body">
              <h5 class="text-white">Our Pandit</h5>
              <p class="text-white">Temple is place where hindu worship  consectetur adipisicing elit, sed do </p>
            </div>
            <span class="text-white btn-link">Learn More <i class="text-white fa-sharp fa-solid fa-arrow-right"></i> </span>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 mt-negative-sm mb-5">
          <a href="services.html" class="sigma_service style-1 bg-white">
            <div class="sigma_service-thumb">
                <i class="fa-solid fa-hands-praying"></i>
            </div>
            <div class="sigma_service-body">
              <h5>Prayers</h5>
              <p>Temple is place where hindu worship  consectetur adipisicing elit, sed do </p>
            </div>
            <span class="btn-link">Learn More <i class="text-danger fa-sharp fa-solid fa-arrow-right"></i> </span>
          </a>
        </div>

      </div>

      <div class="text-end">
        <a href="services.html" class="btn-link text-white"> Get Started Now <i class="fa-sharp fa-solid fa-arrow-right"></i> </a>
      </div>

    </div>
  </div>