<section class="get_touch">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-xl-8 col-lg-10 hajs" style="position: relative;">
                <div class="imp_headings">
                    <div class="get_in_touch_title" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000"
                    data-aos-easing="ease-in-out" data-aos-once="true">
                        <h1 class="get_in_touch_heading text-white pt-4">GET IN TOUCH FOR ANY QUERY</h1>
                        <h3 class="get_in_touch_subheading">Help us to provide the details of the 
                            services you <br> require, that you would like SyanSoft assistance <br> with</h3>
                    </div>
                    <div class="humara_form bg-white" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"
                    data-aos-easing="ease-in-out" data-aos-once="true">
                        <div class="row p-4 ">
                            <div class="col-sm-6 cont_box ">
                                <div class="box1">
                                    <div class="icons pt-3">
                                        <span>
                                            <i class="fa-solid fa-location-dot"></i>
                                        </span>
                                    </div>
                                    <div class="icon-box-content">
                                        <span class="icon-box-title">
                                            Our Head Office
                                        </span>
                                        <p class="icon-box-description">
                                            Sector 45, Gurugram, <br> Haryana, India
                                        </p>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-sm-6 ">
                                <div class="box2">
                                    <div class="icons2 pt-3">
                                        <span>
                                            <i class="fa-solid fa-envelope"></i>
                                        </span>
                                    </div>
                                    <div class="icon-box-content2">
                                        <span class="icon-box-title">
                                            Email For Information
                                        </span>
                                        <p class="icon-box-description">
                                            contact@syansoft.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container bg-white">
                            <form class="con-form row">
                                <div class="col-6 mb-3 ">
                                    <input type="text" placeholder="First Name" >
                                </div>
                                <div class="col-6 mb-4">
                                    <input type="text" placeholder="Last Name" >
                                </div><br>
                                <div class="col-6 mb-4 ">
                                    <input type="text" placeholder="Your Email" >
                                </div>
                                <div class="col-6 mb-4">
                                    <input type="text" placeholder="Your Phone Number" >
                                </div>
                                <div class="col-12 mb-5">
                                    <textarea  placeholder="Comments" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="row mb-5 text-center">
                                    <div>
                                        <button class="send_messagebtn">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- contact form -->
<!-- <section class="contact_form">
    <div class="container">
        <div class="row">
            <div class="col-md-7 contact_bx">
                
            </div>
        </div>
    </div>
</section> -->