<!-- Why Choose us -->
<section class="why bg-white" id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 why_choose_section1" (scroll)="scrollHandler($event)" >
                <div class="why_choose_headings">
                    <h1 class="why_choose_title mt-5">WHY CHOOSE US?</h1>
                    <span class="why_choose_subheadings mt-1">We Believe in Evolution —</span><br>
                    <span class="why_choose_subheadings">We Develop Technology for the Next Decade</span>
                </div>
                <div class="why_choose_para">
                    <p>
                        In a rapidly changing and evolving world, the challenges we face are indeed unique and complex.
                        To find solutions, we need forward-thinking, agile and innovators that can help transform
                        complexities into simple solutioning which we can adapt, and blossom. At SyanSoft, we have the
                        expertise at digital product engineering and deliver on our promise of innovative thinking. We
                        not only solve today’s problems, it’s not enough. We do a bit more. We embrace the future, with
                        vision and clarity about where technology & business are heading.
                    </p>
                </div>
                <div class="container-fluid mb-5" >
                    <div class="row">
                        <div class="col-md-3 col-6 col-sm-6">
                            <div class="elementor-counter-number-wrapper text-center">
                                <span class="counter">40</span>
                                <span class="addMark">+</span>
                                <div class="numbers_of_work">
                                </div>
                                <span class="yojo">Our Staffs</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 col-sm-6">
                            <div class="elementor-counter-number-wrapper text-center">
                                <span class="counter">40</span>
                                <span class="addMark">+</span>
                                <div class="numbers_of_work">
                                </div>
                                <span class="yojo">Our Clients</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 col-sm-6">
                            <div class="elementor-counter-number-wrapper text-center">
                                <span class="counter">100</span>
                                <span class="addMark">+</span>
                                <div class="numbers_of_work">
                                </div>
                                <span class="yojo">Completed <br> Projects</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 col-sm-6">
                            <div class="elementor-counter-number-wrapper text-center" style="border: 0;">
                                <span class="counter">40</span>
                                <span class="addMark">+</span>
                                <div class="numbers_of_work">
                                </div>
                                <span class="yojo">Running Projects</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 why_choose_section2 p-0">
                <img src="/assets/images/why_choose_us.png" alt="....">
            </div>
        </div>
    </div>
</section>