<app-header></app-header>

<section class="about_us">
    <div class="about-us_bannner">
        <h1 class="_aboutTitle">Contact</h1>
    </div>
</section>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <div class="humara_form bg-white" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500"
                data-aos-easing="ease-in-out" data-aos-once="true">
                <div class="row p-4 ">
                    <div class="col-sm-6 cont_box ">
                        <div class="box1">
                            <div class="icons pt-3">
                                <span>
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                            </div>
                            <div class="icon-box-content">
                                <span class="icon-box-title">
                                    Our Head Office
                                </span>
                                <p class="icon-box-description">
                                    Sector 45, Gurugram, <br> Haryana, India
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="box2">
                            <div class="icons2 pt-3">
                                <span>
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                            </div>
                            <div class="icon-box-content2">
                                <span class="icon-box-title">
                                    Email For Information
                                </span>
                                <p class="icon-box-description">
                                    contact@syansoft.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container bg-white">
                    <form class="con-form row">
                        <div class="col-6 mb-3 ">
                            <input type="text" placeholder="First Name">
                        </div>
                        <div class="col-6 mb-4">
                            <input type="text" placeholder="Last Name">
                        </div><br>
                        <div class="col-6 mb-4 ">
                            <input type="text" placeholder="Your Email">
                        </div>
                        <div class="col-6 mb-4">
                            <input type="text" placeholder="Your Phone Number">
                        </div>
                        <div class="col-12 mb-5">
                            <textarea placeholder="Comments" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="row mb-5 text-center">
                            <div>
                                <button class="send_messagebtn">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-6 ">
            <iframe class="gmap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d317893.1993960357!2d-0.119554!3d51.503297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2sus!4v1672070365529!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<br><br>
<app-footer></app-footer>