<section class="carousel_banner">
    <div class="banner_content">
        <div class="img_on_banner">
            <img src="/assets/images/slide-vector-bg.png" alt=".." class="img-fluid ">
            <div class="container">
            <div class="img_on_banner_content">
                <h1 class="banner_content_heading">YOUR SUCCESS <br> OUR ACHIEVMENT</h1>
                <p class="banner_content_para">We believe when like-minded people handshake 
                    with <br> Leading Edge Technology, they yield seamless 
                    digital <br> experience in the world of Tech-Solutioning.</p>
    
                    <div class="buttons">
                        <button class="firstbtn" type="submit">Work With Us</button>
                        <button class="secondbtn" type="submit">Grow Your Team</button>
                    </div>
            </div>
            </div>
        </div>
    </div>
</section>
