<app-header></app-header>
<app-carousel></app-carousel>
<app-flip-cards></app-flip-cards>

<!-- awards -->
<section class="awards_sec">
    <div class="container" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-once="true">
        <h2 class="awards_heading">AWARDS & RECOGNITION</h2>
        <section class="our_awards slider">
            <div class="slide">
                <img src="/assets/images/award-1.png" alt="...." class="img-fluid " >
            </div>
            <div class="slide">
                <img src="/assets/images/award-2.png" style="margin-left: 10px!important;" alt="...." class="img-fluid">
            </div>
            <div class="slide">
                <img src="/assets/images/award-3.png" style="margin-left: 10px!important;"  alt="...." class="img-fluid">
            </div>
            <div class="slide">
                <img src="/assets/images/award-1.png" alt="...." class="img-fluid">
            </div>
            <div class="slide">
                <img src="/assets/images/award-4.png" alt="...." class="img-fluid">
            </div>
            <div class="slide">
                <img src="/assets/images/award-5.png" alt="...." class="img-fluid">
            </div>
        </section>
    </div>
</section>

<!-- feedback -->
<section class="feedback_rec ">
    <div class="feedback pt-5" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-once="true">
        <div class="container">
            <div class="feedback_title">
                <h1 class="pt-5 text-center text-white">
                    WHAT OUR CLIENTS HAVE TO SAY
                </h1>
            </div><!--Feedback title-->
            <div class="feedback_para">
                <div id="carouselExampleNew" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleNew" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleNew" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleNew" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div><!--Carousel indicators-->
                    <div class="carousel-inner py-5 text-center">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <div class="mt-4">
                                <blockquote class="blockquote">
                                    <p class="blockquote_para">An effective, personable, and impressive team, SOLTECH’s
                                        expertise extends past technology —
                                        they understand how their development decisions will impact business development
                                        overall.
                                        Their team has integrated seamlessly within the internal one to deliver
                                        consistent high-quality solutions.</p>
                                </blockquote>
                                <figcaption class="blockquote-footer mt-2 text-white">John Doe,<span
                                        class="designation">CEO</span></figcaption>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <figure class="mt-4">
                                <blockquote class="blockquote">
                                    <p class="blockquote_para">An effective, personable, and impressive team, SOLTECH’s
                                        expertise extends past technology —
                                        they understand how their development decisions will impact business development
                                        overall.
                                        Their team has integrated seamlessly within the internal one to deliver
                                        consistent high-quality solutions. </p>
                                </blockquote>
                                <figcaption class="blockquote-footer mt-2 text-white">John Doe,<span
                                        class="designation">CEO</span></figcaption>
                            </figure>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <figure class="mt-4">
                                <blockquote class="blockquote">
                                    <p class="blockquote_para">An effective, personable, and impressive team, SOLTECH’s
                                        expertise extends past technology —
                                        they understand how their development decisions will impact business development
                                        overall.
                                        Their team has integrated seamlessly within the internal one to deliver
                                        consistent high-quality solutions.</p>
                                </blockquote>
                                <figcaption class="blockquote-footer mt-2 text-white">John Doe,<span
                                        class="designation">CEO</span></figcaption>
                            </figure>
                        </div>
                    </div> <!--Carousel inner-->
                </div>
            </div><!--Feedback para -->
        </div><!--Container end-->
    </div>
</section>

<!-- Digital core capabilities -->
<section class=" mt-5">
    <div class="core_capa_banner pt-5">
        <div class="capabilities_container">
            <div class="digital_capa" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"
                data-aos-easing="ease-in-out" data-aos-once="true">
                <h1 class="text-uppercase pt-4 core_capa_heading text-center">DIGITAL CORE CAPABILITIES</h1>
                <h4 class="text-center core_capa_subheading">Embrace the Innovators & Reimagine the Future</h4>
                <div class="core_capa_para text-center">
                    <p>
                        In a rapidly changing and evolving world, the challenges we face are indeed unique and complex.
                        To find solutions, we need forward-thinking, agile and innovators that can help transform
                        complexities into simple solutioning which we can adapt, and blossom. At SyanSoft, we have the
                        expertise at digital product engineering and deliver on our promise of innovative thinking. We
                        not only solve today’s problems, it’s not enough. We do a bit more. We embrace the future, with
                        vision and clarity about where technology & business are heading.
                    </p>
                    <button type="submit" class="mt-4 get_touch_btn">Get in Touch</button>
                </div>
            </div>
        </div>
    </div>

</section>

<app-choose-us></app-choose-us>
<br>
<hr style="color: rgb(174, 178, 181);">
<!-- Our top clients -->
<section class="my-5 top_client">
    <div class="container ">
        <div class="container" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-once="true">
        <h1 class="clients_title text-center my-5">OUR TOP CLIENT</h1>
        <section class="our_awards slider">
            <div class="slide">
                <img src="/assets/images/client-1.png" alt="...." class="img-fluid">
            </div>
            <div class="slide">
                <img src="/assets/images/client-2.png" alt="...." class="img-fluid">
            </div>
            <div class="slide">
                <img src="/assets/images/client-3.png" alt="...." class="img-fluid">
            </div>
            <div class="slide">
                <img src="/assets/images/client-1.png" alt="...." class="img-fluid">
            </div>
            <div class="slide">
                <img src="/assets/images/clint-4.png" alt="...." class="img-fluid">
            </div>
            
            <div class="slide">
                <img src="/assets/images/client-3.png" alt="...." class="img-fluid">
            </div>
        </section>
    </div>
    </div>
</section>
<br>
<!-- Learning Center -->
<section class="learning-center">
    <div class="container mt-5">
        <h2 class="text-center text-uppercase learning-center-title">
            LEARNING CENTER
        </h2>
        <h4 class="text-center learning-center-subheading">
            Embrace the Innovators & Reimagine the Future
        </h4>
        <div class="row">
            <div class="col-md-4 col-sm-6 learning_cards " data-aos="slide-left" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in" data-aos-once="true">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/Rectangle-149cms-1.png" alt="Card image cap" class="img-fluid w-100">
                    <div class="card-body">
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        <i aria-hidden="true" class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 learning_cards" data-aos="slide-down" data-aos-delay="100" data-aos-duration="1000"
            data-aos-easing="ease-in" data-aos-once="true">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/Rectangle-149cms-2.png" alt="Card image cap" class="img-fluid w-100">
                    <div class="card-body">
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        <i aria-hidden="true" class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 learning_cards" data-aos="slide-right" data-aos-delay="100" data-aos-duration="1000"
            data-aos-easing="ease-in" data-aos-once="true">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/Rectangle-149cms-3.png" alt="Card image cap" class="img-fluid w-100">
                    <div class="card-body">
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        <i aria-hidden="true" class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 learning_cards" data-aos="slide-left" data-aos-delay="100" data-aos-duration="1000"
            data-aos-easing="ease-in" data-aos-once="true">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/Rectangle-149cms-4.png" alt="Card image cap" class="img-fluid w-100">
                    <div class="card-body">
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        <i aria-hidden="true" class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 learning_cards" data-aos="slide-up" data-aos-delay="100" data-aos-duration="1000"
            data-aos-easing="ease-in" data-aos-once="true">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/Rectangle-149cms-5.png" alt="Card image cap" class="img-fluid w-100">
                    <div class="card-body">
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        <i aria-hidden="true" class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 learning_cards" data-aos="slide-right" data-aos-delay="100" data-aos-duration="1000"
            data-aos-easing="ease-in" data-aos-once="true">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/Rectangle-149cms-6.png" alt="Card image cap" class="img-fluid w-100">
                    <div class="card-body">
                      <p class="card-text">
                        In a rapidly changing and evolving world, the challenges
                        we face are indeed unique and complex.
                      </p>
                    </div>
                    <span class="text-center arrow">
                        <i aria-hidden="true" class="fas fa-arrow-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<app-get-in-touch></app-get-in-touch>
<app-footer></app-footer>