<app-header></app-header>


<section class="about_us">
    <div class="about-us_bannner">
        <h1 class="_aboutTitle">about us</h1>
    </div>
</section>

<div class="container-fluid mt-5 pb-5">
    <div class="container">
    <h2 class="text-center title">OUR VISION</h2>
    <br>
    <div class="row my-5">
        <div class="col-md-5 text-center ">
            <img src="/assets/images/banner2.jpg" class="pt-sm-5 pt-md-0 shadow-lg img" alt="image" height="300px">
        </div>
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-once="true">
        <p class="p1">In a rapidly changing and evolving world, the challenges we face are 
                indeed unique and complex. To find solutions, we need forward-thinking, agile 
                and innovators that can help transform complexities into simple solutioning which
                we can adapt, and blossom. At SyanSoft, we have the expertise at digital product
                engineering and deliver on our promise of innovative thinking. We not only solve
                today’s problems, it’s not enough. We do a bit more. We embrace the future, with 
                vision and clarity about where technology & business are heading.</p>
        </div>
    </div><!-- row end -->

    </div><!-- container end -->
</div><!-- container-fluid end -->
<hr style="color: rgb(199, 203, 207);">

<div class="container-fluid my-4">
    <div class="container">
    <h2 class="text-center title">SYANSOFT TODAY</h2>
    <br>
    <div class="row py-5">
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-once="true">
            <p class="p1">In a rapidly changing and evolving world, the challenges we face are 
                indeed unique and complex. To find solutions, we need forward-thinking, agile 
                and innovators that can help transform complexities into simple solutioning which
                we can adapt, and blossom. At SyanSoft, we have the expertise at digital product
                engineering and deliver on our promise of innovative thinking. We not only solve
                today’s problems, it’s not enough. We do a bit more. We embrace the future, with 
                vision and clarity about where technology & business are heading.</p>
            <div class="text-center">
                    <a href="" class="btn btn-success shadow-lg text-center" id="b1"
                    data-aos="slide-right" data-aos-delay="300" data-aos-duration="900"
        data-aos-easing="ease-in-out" data-aos-once="true">CONNECT WITH US</a>
            </div>
        </div>
        <div class="col-md-5 text-center ">
            <img src="/assets/images/banner1.jpg" class="pt-sm-5 pt-md-0 shadow-lg img" height="400px" alt="image">
        </div>
    </div><!-- row end -->

    </div><!-- container end -->
</div><!-- container-fluid end -->

<app-flip-cards></app-flip-cards>

<!-- Digital core capabilities -->
<section class=" mt-5">
    <div class="core_capa_banner pt-5">
        <div class="capabilities_container">
            <div class="digital_capa" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000"
                data-aos-easing="ease-in-out" data-aos-once="true">
                <h1 class="text-uppercase pt-4 core_capa_heading text-center">DIGITAL CORE CAPABILITIES</h1>
                <h4 class="text-center core_capa_subheading">Embrace the Innovators & Reimagine the Future</h4>
                <div class="core_capa_para text-center">
                    <p>
                        In a rapidly changing and evolving world, the challenges we face are indeed unique and complex.
                        To find solutions, we need forward-thinking, agile and innovators that can help transform
                        complexities into simple solutioning which we can adapt, and blossom. At SyanSoft, we have the
                        expertise at digital product engineering and deliver on our promise of innovative thinking. We
                        not only solve today’s problems, it’s not enough. We do a bit more. We embrace the future, with
                        vision and clarity about where technology & business are heading.
                    </p>
                    <button type="submit" class="mt-4 get_touch_btn">Get in Touch</button>
                </div>
            </div>
        </div>
    </div>

</section>

<app-choose-us></app-choose-us>

<hr style="color: rgb(199, 203, 207);">
<!-- Our Leadership team -->
<section class="our_team">
    <div class="container text-center">
        <h1 class="our_leadership_team_title py-5">OUR LEADERSHIP TEAM</h1>
        <div class="row my-5">
            <div class="col-sm-4 ">
                <div class="our-team">
                    <div class="pic">
                        <img src="/assets/images/Passport_Team-3.png" >

                    </div>
                    <div class="team-content">
                        <h3>Tim Smith</h3>
                        <span class="post"> CO-CEO </span>
                    </div>
                    <ul class="social">
                        <li><a href="" >
                            <i class="fa-brands fa-facebook-f"></i>
                        </a></li>
                        <li><a href="" >
                            <i class="fa-brands fa-linkedin"></i>
                        </a></li>
                        <li><a href="" >
                            <i class="fa-brands fa-twitter"></i>
                        </a></li>
                        
                    </ul>
                </div>
            </div>


            <div class="col-sm-4 ">
                <div class="our-team">
                    <div class="pic">
                        <img src="/assets/images/Passport_Team-3.png" >

                    </div>
                    <div class="team-content">
                        <h3>Tim Smith</h3>
                        <span class="post"> CO-CEO </span>
                    </div>
                    <ul class="social">
                        <li><a href="" >
                            <i class="fa-brands fa-facebook-f"></i>
                        </a></li>
                        <li><a href="" >
                            <i class="fa-brands fa-linkedin"></i>
                        </a></li>
                        <li><a href="" >
                            <i class="fa-brands fa-twitter"></i>
                        </a></li>
                        
                    </ul>
                </div>
            </div>

            <div class="col-sm-4 ">
                <div class="our-team">
                    <div class="pic">
                        <img src="/assets/images/Passport_Team-3.png" >

                    </div>
                    <div class="team-content">
                        <h3>Tim Smith</h3>
                        <span class="post"> CO-CEO </span>
                    </div>
                    <ul class="social">
                        <li><a href="" >
                            <i class="fa-brands fa-facebook-f"></i>
                        </a></li>
                        <li><a href="" >
                            <i class="fa-brands fa-linkedin"></i>
                        </a></li>
                        <li><a href="" >
                            <i class="fa-brands fa-twitter"></i>
                        </a></li>
                        
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</section>


<app-get-in-touch></app-get-in-touch>

<app-footer></app-footer>