<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3 class="volunteer_heading_subtitle">
                    <i class="fa-solid fa-om"></i>&nbsp; VOLUNTEERS
                </h3>
                <h2 class="volunteer_heading_title">
                    Our Volunteers Achievments
                </h2>

                <div class="volunteer_text">
                    <p style="font-size:18px; color:#44233b;">
                        We Hindus believe that the Vedas transcend all time and Vedas transcend all time don’t have
                        a beginning or an end.
                    </p>
                </div>
                <section class="slider">
                    <div class="container mb-5">
                        <div class="row">
                            <div class="col-md-12 text-center ">
                                <div id="carouselExampleIndicatorsTwo" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicatorsTwo"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicatorsTwo"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="slider-wrapper">
                                                <div class="row">
                                                    <div class="username">
                                                        <p> Every religion in its own tradition builds houses of
                                                            worship. It is the mandir that fuels our faith in God,
                                                            strengthen our society and teach us to trust one another
                                                            and to become trustworthy.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="slider-wrapper">
                                                <div class="row">
                                                    <div class="username">
                                                        <p> Every religion in its own tradition builds houses of
                                                            worship. It is the mandir that fuels our faith in God,
                                                            strengthen our society and teach us to trust one another
                                                            and to become trustworthy.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Row div end-->
                    </div>
                    <!--Container end-->
                </section>
            </div>
            <!-- LEFT SECTION -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="volunteer_member mt-3">
                            <img src="https://metropolitanhost.com/themes/themeforest/wp/maharatri/wp-content/uploads/2021/09/1-4.jpg"
                                alt="" class="img-fluid w-100">
                            <div class="volunteer_member_body mb-4">
                                <p class="text-center pt-2 mb-0">MEMBER</p>
                                <h5 class="text-center">
                                    <a href="">Shri Murli Manohar</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="volunteer_member mt-3">
                            <img src="https://metropolitanhost.com/themes/themeforest/wp/maharatri/wp-content/uploads/2021/09/2-6.jpg"
                                alt="" class="img-fluid w-100">
                            <div class="volunteer_member_body mb-4">
                                <p class="text-center pt-2 mb-0">CHAIRMAN</p>
                                <h5 class="text-center">
                                    <a href="">Shri Govind Deb</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Row end-->
            </div>
        </div>
        <!--Row end-->
    </div>
    <!--Container end-->
</div>
<!--Container fluid end-->

<!-- ============================================================================== -->
