<app-header></app-header>
<section class="about_us">
    <div class="about-us_bannner">
        <h1 class="_aboutTitle">Service</h1>
    </div>
</section>
<app-flip-cards></app-flip-cards>

<!-- Digital core capabilities -->
<section class=" mt-5">
    <div class="core_capa_banner pt-5">
        <div class="capabilities_container">
            <div class="digital_capa" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000"
                data-aos-easing="ease-in-out" data-aos-once="true">
                <h1 class="text-uppercase pt-4 core_capa_heading text-center">DIGITAL CORE CAPABILITIES</h1>
                <h4 class="text-center core_capa_subheading">Embrace the Innovators & Reimagine the Future</h4>
                <div class="core_capa_para text-center">
                    <p>
                        In a rapidly changing and evolving world, the challenges we face are indeed unique and complex.
                        To find solutions, we need forward-thinking, agile and innovators that can help transform
                        complexities into simple solutioning which we can adapt, and blossom. At SyanSoft, we have the
                        expertise at digital product engineering and deliver on our promise of innovative thinking. We
                        not only solve today’s problems, it’s not enough. We do a bit more. We embrace the future, with
                        vision and clarity about where technology & business are heading.
                    </p>
                    <button type="submit" class="mt-4 get_touch_btn">Get in Touch</button>
                </div>
            </div>
        </div>
    </div>

</section>

<app-choose-us></app-choose-us>
<app-get-in-touch></app-get-in-touch>
<app-footer></app-footer>