<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-lg-30">
                <div class="img-group mb-5">
                    <div class="img-group-inner">
                        <img src="/assets/images/shivji.jpg" alt="about" style="
                        height:auto; max-width:100%;">
                        <span></span>
                        <span></span>
                    </div>
                    <img src="/assets/images/ganesha.jpg" alt="about">
                    <img src="/assets/images/temple.jpg" alt="about">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="me-lg-30">
                    <div class="section-title mb-0 text-start">
                        <p class="Hindu_subtitle">
                            <i class="fa-solid fa-om"></i>
                            EDUCATION FOR ALL RURAL CHILDREN
                        </p>
                        <h4 class="Hindu_title">
                            We are a Hindu that believe in Ram
                        </h4>
                    </div>

                    <ul class="sigma_list list-2 mb-0">
                        <li> <i class="fa-sharp1 fa-solid fa-circle-check"></i> Peace of Mind</li>
                        <li> <i class="fa-sharp1 fa-solid fa-circle-check"></i> Set For Pastor </li>
                        <li> <i class="fa-sharp1 fa-solid fa-circle-check"></i> 100% Satisfaction</li>
                        <li> <i class="fa-sharp1 fa-solid fa-circle-check"></i> Trusted Company</li>
                    </ul>

                    <p class="blockquote bg-transparent">
                        We are a Hindu that belives in Lord Rama and Vishnu Deva the followers and We are a Hindu that belives in Lord Rama and Vishnu Deva. 
                    </p>

                    <a href="#" class="sigma_btn-custom light">Learn More <i class="fa-sharp fa-solid fa-arrow-right"></i> </a>
                    
                </div>
            </div>
        </div>

    </div>

</section>